body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  padding: 0 calc((100vw - 1100px) / 2) !important;
  height: auto !important;
  min-height: 100vh;
  overflow: auto;
  background-image: linear-gradient(
    to right,
    rgb(16, 80, 168),
    rgb(60, 50, 151)
  );
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  margin: 25vh 20px;
}
header {
  margin: 0 20px;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  max-height: 8vh;
}
header div {
  font-size: 2.2rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
header div span {
  color: rgb(15, 167, 15);
}
header input {
  display: none;
}
header #nav-icon {
  display: none;
}
header #nav-icon .menu-icon {
  backface-visibility: hidden;
  display: block;
  height: 3px;
  min-width: 25px;
  margin: 3px;
  background: white;
  transition: all 0.55s;
}
header ul {
  display: flex;
  transition: all 2s;
}
header ul li {
  text-decoration: none;
  color: white;
  list-style: none;
  margin-right: 10px;
}
header ul li:hover {
  /* color: blue; */
}
header ul li:hover a {
  /* color: tomato; */
}
header ul li a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}
.searchSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchSection p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.searchContainer {
  width: 100%;
  background: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 10px;
}
.searchContainer i {
  color: white;
  font-size: 1rem;
  margin-left: 4px;
}
.searchContainer input {
  border: none;
  flex: 1;
  min-height: 100%;
  color: black;
  margin-left: 10px;
}
.searchContainer button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 1rem;
  background: white;
  padding: 7px;
  color: white;
  background: #0067f4;
  border: none;
  border-radius: 3.5rem;
  width: 7rem;
  max-height: 2rem;
}
.dataTable {
  margin-top: 80px;
  background: white;
  border-collapse: collapse;
  min-width: 100%;
}
th,
td {
  text-align: left;
  padding: 15px;
  word-break: break-all;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media Screen and (max-width: 700px) {
  header #nav-icon {
    display: block;
    margin-top: 12px;
  }
  header ul {
    display: none;
    opacity: 0;
  }

  #menu:checked ~ ul li {
    padding: 10px 5px;
  }

  #menu:checked ~ ul {
    display: block;
    opacity: 1;
    width: 100vw;
    position: absolute;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(16, 80, 168), rgb(60, 50, 151));
    left: 0;
    top: 60px !important;
    z-index: 99;
    padding: 0px 0px 0px 20px;
  }
  .searchContainer span {
    display: none;
  }
  .searchContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 1rem;
    background: white;
    padding-top: 7px;
    color: white;
    background: #0067f4;
    border: none;
    border-radius: 3.5rem;
    max-width: auto;
  }
}
